<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="Test-Suite" parallel="tests">
    <test name="Test first set">
        <classes>
            <class name="RelativeLocators"/>
        </classes>
    </test>
    <test name="Test Second set">
        <classes>
            <class name="ParallelTest"/>
        </classes>
    </test>
</suite>